table {
  width: 100%;
}

tr {
  margin: 8px 0px;
  display: flex;
  justify-content: space-around;
}

.list-rank {
  width: 12%;
}

.list-title {
  width: 64%;
}

.list-price {
  width: 12%;
}

.list-reviews {
  width: 12%;
}